<nav class="navbar navbar-expand-lg" *ngIf="authentificationService.isUserLoggedIn()">
  <a class="navbar-brand" routerLink="/">Place Management</a>
  <div class="navbar-collapse collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link">Places</a>
        <div ngbDropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="places">View Places</a>
          <a class="dropdown-item" routerLink="requestedplace">Requested Places</a>
          <a class="dropdown-item" routerLink="userplacerequest">User Place Requests</a>
        </div>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="users">Users</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/roles">Roles</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item nav-item-right">
        <a routerLink="/"
           class="nav-link"> {{authentificationService.loggedInUser?.fName}} {{authentificationService.loggedInUser?.lName}}
          , </a>
      </li>
      <li class="nav-item nav-item-right">
        <a routerLink="logout" routerlinkActive="active" class="nav-link">Log out</a>
      </li>
    </ul>

  </div>
</nav>
