<form>
  <div>
    <label for="placeId" class="col-sm-4 col-form-label">Place ID</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" id="placeId" value={{_selectedPlace.id}}>
    </div>

    <label for="coordinateX" class="col-sm-4 col-form-label">Coordinate X</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" id="coordinateX" value={{_selectedPlace.coordinateX}}>
    </div>

    <label for="coordinateY" class="col-sm-4 col-form-label">Coordinate Y</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" id="coordinateY" value={{_selectedPlace.coordinateY}}>
    </div>

  </div>
</form>
