<form class="modal-body">
    <label for="placeId" class="col-sm-4 col-form-label">Place ID</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" id="placeId" value={{_selectedPlace?.id}}>
    </div>

    <label for="coordinateX" class="col-sm-4 col-form-label">Coordinate X</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" id="coordinateX" value={{_selectedPlace?.coordinateX}}>
    </div>

    <label for="coordinateY" class="col-sm-4 col-form-label">Coordinate Y</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control" id="coordinateY" value={{_selectedPlace?.coordinateY}}>
    </div>
</form>

<div class="modal-footer">
  <button class="btn btn-default"> Close </button>
  <button class="btn btn-primary"> Request place </button>
</div>
