.container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.item {
  background: #f44242;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.item.active {
  background: #53f442;
}
