.notification{
  width: 90%;
  background-color: #eee;
  margin-top: 1rem;
  padding: 0.5rem;
}

.notificationsNumber {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  color: white;
  background: #f44242;
}


.notification img{
  max-height: 3rem;
}

.notification-close{
  position: relative;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
