li{
  width: 90%;
  background-color: #eee;
  margin-top: 1rem;
}

.notificationsNumber {
  width: 1.75rem;
  height: 1.75rem;
  border-color: #f44242;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: center;
}

.notification{
  max-height: 5rem;
}

.notification img{
  max-height: 3rem;
}
