<div class="container">
  <h1>Roles</h1>
  
  <div class="form-group">
    <input [(ngModel)]="newRoleName" type="text" placeholder="Create role" class="form-control w-50 d-inline mr-2">
    <div (click)="createRole()" class="btn btn-primary d-inline"> Create </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Role</th>
      <th scope="col">Office</th>
      <th scope="col">Place</th>
      <th scope="col">PlaceRequest</th>
      <th scope="col">User</th>
      <th scope="col">Role</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles;">
      <td>{{ role.role | titlecase }}</td>
      <td>
        <app-permission-selector (change)="updateGrants(role, 'office')" [(grant)]="role.grants.office" ></app-permission-selector>
      </td>
      <td>
        <app-permission-selector (change)="updateGrants(role, 'place')" [(grant)]="role.grants.place" ></app-permission-selector>
      </td>
      <td>
          <app-permission-selector (change)="updateGrants(role, 'placerequest')" [(grant)]="role.grants.placerequest" ></app-permission-selector>
      </td>
      <td>
          <app-permission-selector (change)="updateGrants(role, 'user')" [(grant)]="role.grants.user" ></app-permission-selector>
      </td>
      <td>
          <app-permission-selector (change)="updateGrants(role, 'role')" [(grant)]="role.grants.role" ></app-permission-selector>
      </td>
      <td>
          <div class="btn btn-secondary" (click)="deleteRole(role)" > &times; </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
