<div class="alert alert-primary alert-dismissible fade show" role="alert" *ngFor="let message of getAlertsPrimary" >
  {{message}}
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert" *ngFor="let message of getAlertsSuccess" >
  {{message}}
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let message of getAlertsDanger" >
  {{message}}
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngFor="let message of getAlertsWarning" >
  {{message}}
</div>

<div class="alert alert-light alert-dismissible fade show" role="alert" *ngFor="let message of getAlertsLight" >
  {{message}}
</div>

<div class="alert alert-dark alert-dismissible fade show" role="alert" *ngFor="let message of getAlertsDark" >
  {{message}}
</div>