<div class="container" *ngIf="floors">
  <div>
    <h2>Floors</h2>
    <button type="button" (click)="loadOffices(floor)" class="btn btn-primary" *ngFor="let floor of floors">
      {{"Floor " + floor}}
    </button>
  </div>
  <div>
    <h2>Offices</h2>
    <button type="button" (click)="selectOffice(office)" class="btn btn-primary" *ngFor="let office of offices">
      {{office.number}}
    </button>
  </div>
  <app-placetable [(places)]="places" [(selectedOffice)]="selectedOffice"></app-placetable>
</div>
