<div class="container">
  <h2>Move User</h2>
  <form>
    <div class="form-group">
      <select (change)="getUserByUsername($event)" class="form-control" id="username">
        <option value="Select Username">Select username</option>
        <option *ngFor="let user of users">{{user.username}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="firstname">First Name</label>
      <select class="form-control" id="firstname" disabled>
        <option>{{selectedUser?.fName}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <select class="form-control" id="lastname" disabled>
        <option>{{selectedUser?.lName}}</option>
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" id="office" (change)="getPlacesByOfficeNumber($event)">
        <option>Select Office</option>
        <option *ngFor="let office of offices">{{office.number}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="place">Place</label>
      <select class="form-control" id="place">
        <option *ngFor="let place of selectedOffice">CoordinateX {{place.coordinateX}} and
          CoordinateY {{place.coordinateY}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
