<div class="container" *ngIf="placeRequests.length; else noPlacesRequest">
  <table class="table table-bordered mx-auto my-5">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Floor</th>
      <th>Office Number</th>
      <th>Coordinate X</th>
      <th>Coordinate Y</th>
      <th>Date Of</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let placerequest of placeRequests">
      <td>{{placerequest.user?.firstName}}</td>
      <td>{{placerequest.user?.lastName}}</td>
      <td>{{placerequest.place?.office.floor}}</td>
      <td>{{placerequest.place?.office.number}}</td>
      <td>{{placerequest.place?.coordinateX}}</td>
      <td>{{placerequest.place?.coordinateY}}</td>
      <td>{{placerequest.dateOf | date}}</td>
      <td>
        <button type="button" class="btn btn-success" (click)="acceptPlaceRequest(placerequest.id)">Approve</button>
        <button type="button" class="btn btn-danger m-2"
                (click)="declinePlaceRequest(placerequest.id)">Reject
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noPlacesRequest>
  <h2 style="text-align:center">
    There are no place requests
  </h2>
</ng-template>
